/* @theme my-theme */

/*
@import 'default';
*/

@import url('xhttps://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100&icon_names=favorite,home,search,settings');  

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=home,search,settings");


/* --- 色やフォントの基本設定 --- */
:root {
  /* 色の設定 */
  --__color-background: #f8f8f4;
  --__color-foreground: #3a3b5a;
  --__color-heading: darkblue; /*#4f86c6;*/
  --color-background: white;
  --color-foreground: black;
  --color-heading: black; /*#4f86c6;*/
  --color-hr: black;
  /* フォントの設定 */  
  --__font-default: '游ゴシック';
  --font-default: 'メイリオ';
  /* 背景画像の設定 */
  --bg-image-opening: url("background_opening.jpg");
  --bg-image:         url("background.jpg");
  --bg-image-closing: url("background_closing.jpg");
  /* フォントサイズの設定 */
  --font-size-section: 22px; /* スライドの基本フォントサイズ */
  --font-size-h1: 56px;
  --font-size-h2: 40px;
}

/* --- ページ（基本スタイル） --- */
section {
  background-color: var(--color-background);
  background-image: var(--bg-image);
  background-size: cover;
  color: var(--color-foreground); /* foreground color */

  font-family: var(--font-default);
  font-weight: 400;
  font-size: var(--font-size-section);

  line-height: 170%;    /* 行間隔 */

  align-content: start; /* 縦寄せ */
  padding: 56px;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* ページ番号 */
section::after {
  font-weight: bold;
  font-size: 28px
}

/* --- 先頭ページ --- */
section.opening {
  background-image: var(--bg-image-opening);
  background-size: cover;
}

/* --- 最終ページ --- */
section.closing {
  background-image: var(--bg-image-closing);
  background-size: cover;
}


/* --- 見出しのスタイル --- */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--color-heading);
  margin: 0;
  padding: 0;
}

/* タイトルページ(#)のスタイル */
h1 {
  font-size: var(--font-size-h1);
  line-height: 0;
  margin-top: 180px;
}

/* 通常スライドのタイトル(##) */
h2 {
  position: absolute;
  top: 32px;
  left: 180px;
  right: 70px;
  font-size: var(--font-size-h2);
}

/* サブ見出し (例: 目的, 目標) */
h3 {
  font-size: 1.3em;
  margin-top: 0.4em;
}

/* --- リストのスタイル --- */
ul, ol {
  padding-left: 1.5em;
  margin: 0.3em 0;
}
li {
  margin-bottom: 0em;
}

/* h2と後続コンテンツの間のスペースを確保 */
h2 + * {
  margin-top: 46px;
}

/* ヘッダー・フッター */
header {
  left: 0;
  right: 0;
  top: 0;
}
footer {
  left: 0;
  right: 0;
  bottom: 0;
}

/* フッターにページ番号を表示 */
xxfooter::after {
  content: counter(page) " / " counter(pages);
  font-size: 24px;
  color: #080808;
  position: absolute;
  right: 0;
  bottom: 0;
  background: none;
  padding: 0 12px;
}

/* 先頭、最終ページはヘッダ、フッタなし  */
section.opening footer,
section.opening header {
  display: none;
}

/* 先頭、最終ページはページ番号なし */
section.opening::after,
section.closing::after {
  display: none;
}

section.opening h1 {
  margin-bottom: 24px;
}
section.opening p {
  font-size: 24px;
  color: var(--color-foreground);
}

/* --------- テーブル --------- */
/* 基本形 */
table {
  border-collapse: separate;
  border-spacing: 3px;
  border: none; 
  th {
    background-color: lightsteelblue;
    color: black;
    font-weight: normal;
    border: none; 
    padding: 8px 10px;
  }
  td {
    background-color:#dfe8f8;
    color: black;
    border: none; 
    padding: 8px 10px;
  }
}

.table2 table {
  border-collapse: separate;
  border-spacing: 3px;
  border: none; 
  th {
    background-color:silver;
    font-weight: normal;
  }
  td {
    background-color: #e0e0e0;
  }
}

.table3 table {
  border-collapse: separate;
  border-spacing: 3px;
  border: none; 
  th {
    background-color:#333;
    color: #FDFDFD;
    font-weight: normal;
  }
  td {
    background-color: #c0c0c0;
  }
  tr:nth-child(2n+1) td {
    background-color: #ddd;
    color: black
  }
}


.table4 table {
  border-collapse: separate;
  border-spacing: 0px;
  border: solid 1px gray;
  th {
    background: linen;
    border: solid 1px gray;
    padding: 6x;  
  }
  td {
    background: linen;
    border: solid 1px gray;
    padding: 6px;  
  }
}


.table5 table {
  border-collapse: collapse;
  th {
    padding: 10px;
    background: #778ca3;
    color: #ffffff;
  }
  td {
    padding: 10px;
    border: solid 1px #778ca3;
    background: #e9faf9;
  }
}

/* --- グリッド　--- */
.split {
    overflow: visible;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.split div {
  background-color: linen;
  margin: 10px;
  padding: 20px;
  border-radius: 20px; 
}



/* ガイドライン用のスタイル */
.emph {
  background-color: #fbe9e7;
  color: #c62828;
  padding: 8px 16px;
  border-radius: 4px;
}

.c-red {
  color: red;
}
.c-blue {
  color: blue;
}
.w50pct {
  width: 50%;
}
.w30pct {
  width: 30%;
}
.w70pct {
  width: 70%;
}
