/* フッターにページ番号を表示 */
footer::after {
  content: counter(page) " / " counter(pages);
  font-size: 24px;
  color: #080808;
  position: absolute;
  right: 0;
  bottom: 0;
  background: none;
  padding: 0 12px;
}


/* ページ番号のフォントサイズを調整 */
@media print {
  footer::after {
    font-size: 46px;
  }
}